<ion-header>

  <ion-navbar>
    <ion-title>signup</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

<ion-grid>
  <ion-row wrap >
    <ion-col col-12 col-sm-12 col-md-12 offset-lg-3 col-lg-6 offset-xl-3 col-xl-6>
  <!--Form-->
  <div class="form">
    <form [formGroup]="signupForm" (submit)="signupUser()" style="padding-left: 25px; padding-right: 25px; " novalidate>    
    <ion-item  no-padding class="item-md-transparent logintop" color="primary" >
      <ion-label class="labelmipto" class="ioncenter"><p align="center" class="titlemipto myriadcond">Register</p></ion-label>
    </ion-item>
    <ion-item  no-padding class="item-md-transparent miptoinput logintop" >
      <ion-label class="labelmipto"><i class="icon icon-account-outline"></i></ion-label>
      <ion-input formControlName="firstname" type="text" placeholder="First name" ></ion-input>
    </ion-item>
    <ion-item  no-padding class="item-md-transparent miptoinput logintop" >
      <ion-label class="labelmipto"><i class="icon icon-account-outline"></i></ion-label>
      <ion-input formControlName="lastname" type="text" placeholder="Last name" ></ion-input>
    </ion-item>
    <ion-item no-padding class="item-md-transparent miptoinput logintop">
      <ion-label class="labelmipto"><i class="icon icon-email-outline"></i></ion-label>
      <ion-input formControlName="email" type="email" placeholder="Email"
        [class.invalid]="!signupForm.controls.email.valid && signupForm.controls.email.dirty">
      </ion-input>
    </ion-item>
    <ion-item no-padding class="error-message" class="item-md-transparent"
      *ngIf="!signupForm.controls.email.valid  && signupForm.controls.email.dirty">
      <p>Please enter a valid email.</p>
    </ion-item>
    <ion-item no-padding class="item-md-transparent miptoinput logintop">
      <ion-label class="labelmipto alignleft"><i class="icon icon-calendar"></i></ion-label>
      <ion-datetime formControlName="birthday" displayFormat="MM/DD/YYYY" placeholder="Date of birth">
      </ion-datetime>
    </ion-item>
    <ion-item no-padding class="item-md-transparent miptoinput logintop">
      <ion-label class="labelmipto"><i class="icon icon-phone"></i></ion-label>
      <ion-input formControlName="phone" type="number" placeholder="Phone">
      </ion-input>
    </ion-item>
    <ion-item no-padding class="item-md-transparent miptoinput logintop">
      <ion-label class="labelmipto"><i class="icon icon-lock-outline"></i></ion-label>
      <ion-input formControlName="password" type="password" placeholder="Password"
        [class.invalid]="!signupForm.controls.password.valid && signupForm.controls.password.dirty">
      </ion-input>
    </ion-item>
    <ion-item no-padding class="error-message" class="item-md-transparent"
      *ngIf="!signupForm.controls.password.valid  && signupForm.controls.password.dirty">
      <p>Your password needs more than 6 characters.</p>
    </ion-item>
    <ion-item no-padding class="item-md-transparent miptoinput logintop">
      <ion-label class="labelmipto"><i class="icon icon-lock-outline"></i></ion-label>
      <ion-input formControlName="confirmpassword" type="password" placeholder="Confirm Password">
      </ion-input>
    </ion-item>

    <button ion-button default-button type="submit" class="signinbutton logintop" color="primary" [disabled]="!signupForm.valid">
      Register
    </button>
  </form>

  </div>

</ion-col>
</ion-row>

</ion-grid>
</ion-content>
